---
---

/* .talks-list h2 { 
  color: #333; 
  border-bottom: 1px solid #ccc; 
  padding-bottom: 5px; 
} */

/* .talks-list h3 { 
  margin-bottom: 0; 
  color: #0066cc; 
} */


/* .talks-list p { 
  margin-top: 5px; 
  color: #666; 
} */
