<!-- third party scripts -->
<script src="{{ '/_scripts/vendor-tippy-bundle.umd.min.js' | relative_url }}"></script>
<script src="{{ '/_scripts/vendor-mark.min.js' | relative_url }}"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [["$", "$"], ["\\(", "\\)"]],
      displayMath: [["$$", "$$"], ["\\[", "\\]"]]
    },
    svg: {
      fontCache: "global"
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  {% unless script.path contains "/_scripts/vendor-" %}
    <script src="{{ script.path | relative_url }}"></script>
  {% endunless %}
{% endfor %}
