<!-- third party scripts -->
<script src="{{ '/_scripts/vendor-tippy-bundle.umd.min.js' | relative_url }}"></script>
<script src="{{ '/_scripts/vendor-mark.min.js' | relative_url }}"></script>

<!-- include all js in scripts folder -->
{% assign scripts = site.static_files | where_exp: "file", "file.path contains '/_scripts'" %}
{% for script in scripts %}
  {% unless script.path contains "/_scripts/vendor-" %}
    <script src="{{ script.path | relative_url }}"></script>
  {% endunless %}
{% endfor %}
