{% if include.filters %}
  {% assign filter_parts = include.filters | split: ":" %}
  {% assign filter_key = filter_parts[0] | strip %}
  {% assign filter_value = filter_parts[1] | strip %}
{% endif %}

<div class="talks-list">
  {% assign filtered_years = site.data.talks | where: "year", filter_value %}
  
  {% for year_data in filtered_years %}
    <h2>{{ year_data.year }}</h2>
    {% for talk in year_data.talks %}
      <h3>{{ talk.title }}</h3>
      <p>
        <em>{{ talk.venue }}, {{ talk.location }}</em>
        {% if talk.date %}
          <br>{{ talk.date | date: "%B %d, %Y" }}
        {% endif %}
        {% if talk.slides %}
          &nbsp;&nbsp;<a href="{{ talk.slides }}" class="tag" data-tooltip="View slides">slides</a>
        {% endif %}
        {% if talk.video %}
          &nbsp;&nbsp;<a href="{{ talk.video }}" class="tag" data-tooltip="Watch video">video</a>
        {% endif %}
      </p>
    {% endfor %}
  {% endfor %}
</div>
